@import '/css/_variable.css';
@import '/css/_scrollbar.css';
@import '/css/_table.css';
@import '/css/_fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.no-ptr {
    opacity: 0.6;
    pointer-events: none;
}


* {
    font-family: 'Inter';
}